/*
seletor{
    propriedade: valor;
    propriedade: valor:
}
*/

h3{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: black;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 35px;
}
#paragrafo01{
    margin-left: 250px;
    text-transform: uppercase;
}
#paragrafo02{
    margin-right: 300px;
}
.paragrafos{
    font-family: 'Courier New', Courier, monospace;
    font-size:  3em;
    line-height: 40px;
}
.pag-especial{
    text-decoration: line-through;
}

