#div-form{
    width: 500px;
    min-height: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(136, 123, 89);
    border-radius: 8px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
h3{
    text-align: justify;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#form{
    background-color: rgb(95, 97, 74);
    padding: 10px;
}
label{
    display: block;
    margin: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.6em;
}
.input-vlr01{
    width: 400px;
}
.input-vlr02, .input-vlr01{
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.2em;
}
.input-vlr02{
    width: 250px;
}
input[type="radio"], input[type="checkbox"]{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
textarea{
    width: 120px;
    height: 100px;
    padding: 20px;
    resize: none;
}
#div-btn{
    border: solid 5px;
    margin: 3px;
    padding-left: 5px;
    padding-right: 8px;
}
button{
    width: 140px;
    height: 30px;
    cursor: pointer;
}
input::placeholder{
    color: #dbb5b5;
    letter-spacing: 5px;
}